// HOME PAGE

@import '../variables';
@import '../mixins';
@import '../utils';


.hero {

    position: relative;
    height: 105vh;
    width: 100vw;
    background-image: linear-gradient(to bottom right, var(--color-primary), var(--color-tertiary));
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;

    @include respond(laptop) {
        height: 108vh;
    }
    @include respond(phone-small-2) {
        height: 140vh;
    }

    &__contents {
        position: absolute;
        left: 50%;
        top: 45%;
        transform: translate(-50%, -50%);
        z-index: 1;

        display: flex;
        align-items: center;
        justify-content: space-between;

        @include respond(laptop) {
            top: 48%;
        }
        @include respond(tablet-small-1) {
            flex-direction: column;
            align-items: start;
            justify-content: space-between;
            top: 52%;
        }

        &_intro {

            width: 50%;
            display: flex;
            flex-direction: column;
            gap: 2rem;

            @include respond(laptop) {
                width: 60%;
            }
            @include respond(tablet-small-1) {
                width: 100%;
            }

            &-logoicon {
                width: 10rem;
                height: auto;
                opacity: 0.95;

                @include respond(laptop) {
                    width: 8rem;
                }
            }
            &-header {
                font-size: 4.4rem;
                line-height: 1.2;
                font-weight: 400;
                color: var(--color-white);
                text-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
                margin-top: 0.8rem;

                @include respond(laptop) {
                    font-size: 3.8rem;
                }
            }
            &-description {
                font-size: 1.9rem;
                font-weight: 400;
                line-height: 1.5;
                letter-spacing: 1px;
                color: var(--color-white);
                opacity: 0.85;
                text-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
            }
            &-keep-scrolling {
                margin-top: 1rem;
            }
        }

        &_video-circle {

            margin-right: auto;
            margin-left: auto;
            display: flex;
            align-items: center;
            justify-content: center;

            position: relative;
            width: 30rem;
            height: 30rem;
            border-radius: 50%;
            background-color: rgba(15, 15, 15, 0.6);
            box-shadow: 0 0 50px rgba(0, 0, 0, 0.20);
            backdrop-filter: blur(3px);
            transition: all .3s ease-out;

            @include respond(laptop) {
                width: 22rem;
                height: 22rem;
            }
            @include respond(tablet-small-1) {
                width: 20rem;
                height: 20rem;
                margin-right: 0;
                margin-left: 0;
                margin-top: 6rem;
            }
            @include respond(phone-small-1) {
                width: 18rem;
                height: 18rem;
            }
            @include respond(phone-small-2) {
                width: 16rem;
                height: 16rem;
            }

            &:hover {

                background-color: #0085CA;
                .hero__contents_video-circle--icon {

                }
            }

            &--icon {
                width: 12rem;
                height: auto;

                @include respond(laptop) {
                    width: 8rem;
                }
                @include respond(tablet-small-1) {
                    width: 6rem;
                }
                @include respond(phone-small-2) {
                    width: 4rem;
                }
            }
        }
    }

    &__image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &__separator {

        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;

        display: flex;
        flex-direction: column;

        &-corner {
            margin-left: auto;
            width: 30rem;
            height: auto;

            @include respond(laptop) {
                width: 15rem;
            }
            @include respond(laptop-small-2) {
                width: 12rem;
            }
            @include respond(phone) {
                width: 10rem;
            }
        }
        &-base {
            height: 10rem;
            background-color: var(--color-white);
            border-top-left-radius: 20rem;
        }
    }
}




.about {

    position: relative;
    margin-top: 15rem;
    
    &__container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10rem;

        @include respond(laptop-small-2) {
            flex-direction: column;
        }
        @include respond(tablet-small-1) {
            align-items: start;
            justify-content: start;
        }
    }
    &__image {
        width: 52rem;
        height: auto;

        @include respond(laptop) {
            width: 48rem;
        }
        @include respond(phone) {
            width: 40rem;
        }
        @include respond(phone-small-1) {
            width: 100%;
        }
    }
    &__contents {

        @include respond(laptop-small-2) {
            text-align: center;
        }
        @include respond(tablet-small-1) {
            text-align: left;
        }

        &_header {
            
        }
        &_text {
            margin-top: 3rem;
        }
        &_points {

            margin-top: 2rem;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            &-point {

                display: flex;
                align-items: center;
                gap: 2.5rem;

                @include respond(laptop-small-2) {
                    margin-left: auto;
                    margin-right: auto;
                }
                @include respond(tablet-small-1) {
                    margin-left: 0;
                    margin-right: 0;
                }
                
                &--bullet {
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background-color: var(--color-tertiary);

                    @include respond(laptop) {
                        width: 8px;
                        height: 8px;
                    }
                    @include respond(laptop-small-2) {
                        width: 5px;
                        height: 5px;
                        opacity: 0.8;
                    }
                }
                &--text {
                    margin: 0;
                }
            }
        }
        &_notice {
            margin-top: 2.5rem;
        }
        &_button {

            display: inline-block;
            margin-top: 3rem;
            // Contacts-Button
        }
    }
}



.features {

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    padding-top: 25rem;

    &__illustration {
        width: 12rem;
        height: auto;
        margin-bottom: 1.5rem;
    }
    &__header {
        text-align: center;
    }
    &__description {
        text-align: center;
    }

    &__container {

        margin-top: 2rem;
        display: grid;
        grid-template-columns: repeat(4, 1fr); // Create 5 equal columns
        grid-gap: 2rem; // Gap between the grid items
        align-items: start;

        @include respond(laptop-small-2) {
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 4rem;
        }
        @include respond(phone) {
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 6rem;
        }

        &_feature {

            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 2rem;

            &-iconbox {

                position: relative;
                width: 16rem;
                height: 16rem;
                background-color: var(--color-tertiary);
                border-radius: 50%;
                box-shadow: inset -4px 4px 8px rgba(253, 253, 253, 0.35), inset 4px -4px 8px rgba(0, 0, 0, 0.10), 0 4px 8px rgba(12, 25, 37, 0.25);

                &--icon {
                    @include absolute-center;
                    width: 40%;
                    height: auto;
                }
            }
            &-description {
                text-align: center;
            }
        }
    }
}





.contacts {

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    padding-top: 25rem;

    @include respond(tablet-small-1) {
        align-items: start;
    }

    &__logo {
        width: 34rem;
        height: auto;
    }
    &__header {
        margin-top: 3rem;
        text-align: center;

        @include respond(tablet-small-1) {
            text-align: left;
        }
    }
    &__description {
        text-align: center;

        @include respond(tablet-small-1) {
            text-align: left;
        }
    }

    &__method {

        display: flex;
        align-items: center;
        gap: 2rem;

        &_icon {
            width: 2.4rem;
            height: auto;
        }
        &_text {

        }
    }

    &__availability {
        text-align: center;

        @include respond(tablet-small-1) {
            text-align: left;
        }
    }

    &__button {
        display: inline-block;
    }
}