
// NavBar
.navbar {

    position: fixed;
    z-index: 100;
    left: 50%;
    transform: translate(-50%, 0);
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: var(--color-white);
    box-shadow: 0 4px 4rem rgba(0, 0, 0, 0.05);
    border-radius: 100rem;
    margin-top: 3rem;
    padding: 0.8rem 1.3rem;
    transition: all .5s cubic-bezier(0.65, 0, 0.35, 1);

    @include respond(tablet-small-1) {
        margin: 0 !important;
        width: 100vw;
        border-radius: 0;
    }


    &__logobox {

        position: relative;
        background-color: var(--color-white);
        box-shadow: 0 3px 1.5rem rgba(0, 0, 0, 0.05);
        border-radius: 100rem;
        padding: 1.2rem 3rem;

        @include respond(tablet-small-1) {
            box-shadow: none;
        }

        &_logo {
            margin-top: 6px;
            width: 16rem;
            height: auto;
        }
    }


    &__interaction-overlay {
        
        @include respond(tablet-small-1) {
            position: fixed;
            top: 0;
            left: 0;
            height: 100vh;
            width: 100vw;
        }
    }
    &__options {

        display: flex;
        align-items: center;
        gap: 1.5rem;
        transition: all .5s cubic-bezier(0.65, 0, 0.35, 1);

        @include respond(tablet-small-1) {
            flex-direction: column;
            justify-content: center;
            gap: 4rem;
            position: absolute;
            // z-index: 1;
            top: 0;
            left: 100%;
            background-color: hsla(0, 0%, 100%, .98);
            height: 100vh;
            width: 70vw;
            padding: 3rem;
        }
        @include respond(phone-small-1) {
            width: 90vw;
        }

        &-option {
            
        }

        &_link {

            display: flex;
            align-items: center;
            gap: 1.2rem;

            margin-right: 1rem;

            &:hover {
                .navbar__options_link-text {
                    color: var(--color-primary);
                }
            }

            &-icon {

            }
            &-text {
                font-size: 1.8rem;
                font-weight: 400;
                color: var(--color-tertiary);
                transition: all .3s ease-out;
            }
        }
    }


    &__expand-btn {

        display: none;
        position: relative;
        width: 5rem;
        height: 5rem;
        background-color: white;
        border-radius: 5px;
        overflow: hidden;
        // box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);

        @include respond(tablet-small-1) {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &_iconbox {

            position: relative;
            width: 70%;
            height: 70%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 6px;
            transition: all .3s ease-out;

            &:hover {
                gap: 8px;
            }

            &-bar {

                width: 100%;
                height: 2px;
                background-color: var(--color-tertiary);

                &--1 {

                }
                &--2 {

                }
                &--3 {

                }
            }
        }
    }
}



// Active-Page-Styler
.active-page-nav {
    font-weight: 600;
}

// Mobile Menu Expander
.show-mobile-menu {
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
    transform: translateX(-100%);
}

// Hide Full Navbar
.navbar-hidden {
    transform: translate(-50%, -150%) !important;
    @include respond(tablet-small-1) {
        transform: translate(-50%, 0) !important;
    }
}