



// MEDIA QUERY MANAGER

/*

Notes:
< 1300px - Laptop



$breakpoint argument choices:

- phone-small-2 (<400px)
- phone-small-1 (<450px)
- phone (<550px)
- tablet-small-1 (<900px)
- tablet (<1050px)
- laptop-small-2 (<1150px)
- laptop-small-1 (<1250px)
- laptop (<1300px)
- laptop-large (<1450px)
- desktop (Default: <1920px ish)

*/



@mixin respond($breakpoint) {
    @if $breakpoint == phone-small-2 {
        @media only screen and (max-width: 25em) { @content } ; // 400px
    }
    @if $breakpoint == phone-small-1 {
        @media only screen and (max-width: 28.125em) { @content } ; // 450px
    }
    @if $breakpoint == phone {
        @media only screen and (max-width: 34.375em) { @content } ; // 550px
    }
    @if $breakpoint == tablet-small-1 {
        @media only screen and (max-width: 56.25em) { @content } ; // 900px
    }
    @if $breakpoint == tablet {
        @media only screen and (max-width: 65.625em) { @content } ; // 1050px
    }
    @if $breakpoint == laptop-small-2 {
        @media only screen and (max-width: 71.875em) { @content } ; // 1150px
    }
    @if $breakpoint == laptop-small-1 {
        @media only screen and (max-width: 78.125em) { @content } ; // 1250px
    }
    @if $breakpoint == laptop {
        @media only screen and (max-width: 81.25em) { @content } ; // 1300px
    }
    @if $breakpoint == laptop-large {
        @media only screen and (max-width: 90.625em) { @content } ; // 1450px
    }
}