@import './variables';
@import './utils';
@import './mixins';
@import './animations';
@import './media-query-manager';

h1 {

}

h2 {
    font-size: 4.32rem;
    font-weight: 400;
    line-height: 1.2;
    color: var(--color-tertiary);

    @include respond(laptop) {
        font-size: 3.8rem;
    }
}

p {
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.8;
    color: var(--color-tertiary);
}

a {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.8;
    display: inline-block;
    text-decoration: none;
    opacity: 0.90;
    transition: all .3s ease-out;

    &:hover {
        opacity: 1;
    }
}

.bold {
    font-weight: 600;
}