@import './media-query-manager';


// BASIC USEFUL
.display-none {
    display: none;
}
.overflow-hidden {
    overflow: hidden;
}
.display-none {
    display: none;
}
.pos-relative {
    position: relative;
}
.w-full {
    width: 100%;
}
.page-span-big {
    width: 85vw;
}
.page-margins-big {
    margin: 0 20rem;

    @include respond(laptop) {
        margin: 0 12rem;
    }
    @include respond(tablet-small-1) {
        margin: 0 6rem;
    }
    @include respond(phone) {
        margin: 0 4rem;
    }
    @include respond(phone-small-1) {
        margin: 0 3rem;
    }
}
.page-margins-small {
    margin: 0 16rem;

    @include respond(laptop) {
        margin: 0 10rem;
    }
    @include respond(tablet-small-1) {
        margin: 0 6rem;
    }
    @include respond(phone) {
        margin: 0 4rem;
    }
    @include respond(phone-small-1) {
        margin: 0 3rem;
    }
}
.marg-right-small {
    margin-right: 1rem;
}



// Aspect-Ratios
.aspect-1-1 {
    aspect-ratio: 1/1;
}
.aspect-2-1 {
    aspect-ratio: 2/1;
}


// Banner Shadows
.banner-shadow {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(29, 29, 29, 0) 0%, rgb(29, 29, 29) 100%);
}