// variables.scss

// Define variables
:root {

    // Basic Colors
    --color-white: #ffffff;
    --color-black: #000000;
    --color-dark-1: #111111;

    // Brand Colors
    --color-primary: #0085CA;
    --color-secondary: #55C2FF;
    --color-tertiary: #0C1925;


    // Other
    --required-red: #FF3131;
}